<h1>マイページ</h1>
<%= @end_user.name %>
<%= @end_user.email %>
<%= link_to "編集する", edit_end_user_path(@end_user) %>

<h1>投稿一覧</h1>
<% @rooms.each do |room| %>
  <%= link_to room.title, room_path(room) %>
<% end %>