<h1 class="main-title">ルーム一覧</h1>

<div class="container">
  <div class="side-content">
    <%= render 'admin/categories/index', categories: @categories %>
    <div class="search">
      <%= render 'public/rooms/search', q: @q %>
    </div>
  </div>

  <div class="main-content">
    <%= render 'public/rooms/index', rooms: @rooms %>
  </div>
</div>