<h4 class="main-title"><%= @category.name %></h4>

<div class="container">
  <div class="side-content">
    <%= render 'admin/categories/index', categories: @categories %>
    <div class="search">
      <%= render 'public/rooms/search', q: @q %>
    </div>

  </div>

  <div class="main-content">
    <%= render 'public/rooms/index', rooms: @rooms %>
    
  </div>
</div>