<div class="top-container">
  <div class="top-topic">
    <p>ようこそ、No Worriesへ</p>
    <p>ここでは、様々な悩みを持った人達がいます。</p>
    <p>今、悩んでいるあなた。その悩みは誰かが一度は通った道です。</p>
    <p>悩みを解消したあなた。困っている人に共有してあげませんか。</p>
    <p>さあ始めましょう</p>
  </div>
  <div class="top-login">
    <div>
      <%= link_to "ログインはこちら", new_end_user_session_path %>
    </div>
    <div>
      <%= link_to "新規登録はこちら", new_end_user_registration_path %>
    </div>
  </div>
</div>