<h1>ユーザー一覧</h1>

<% @end_users.each do |end_user| %>
  <%= end_user.id %>
  <%= link_to end_user.name, edit_admin_end_user_path(end_user) %>
  <% if end_user.is_delete %>
    退会中
  <% else %>
    有効
  <% end %>
<% end %>