* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin: 0 auto;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

li {
  list-style: none;
}

a {
  color: grey;
}

// -------header------- //

header {
  height: 60px;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.header-list h1 {
  line-height: 60px;
}

.header-menu ul li {
  text-align: center;
  margin-bottom: 30px;
}

.header-menu ul li:last-child {
  text-align: center;
  margin-bottom: 0;
}


.header-menu {
  color: #fff;
  width: 15%;
  z-index: 10;
}

.header-icon {
  line-height: 60px;
  text-align: center;
}

.header-icon:hover {
  cursor: pointer;
}

.drop-menu {
  display: none;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 6px gray;
  border-radius: 10px;
}

// ------------------- //


// -------main------- //

.container {
  display: flex;
  justify-content: space-between;
  align-item: center;
}

.side-content {
  width: 30%;
}

.side-content ul li {
  width: 150px;
  border-bottom: solid 1px grey;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.main-content {
  width: 60%;
}

.main-title {
  text-align: center;
  margin: 20px 0 40px 0;
}

// ------------------ //

// -------room------- //

.create {
  margin-bottom: 40px;
  text-align: right;
}

.create a {
  background-color: #00ff7f;
  padding: 10px 15px 10px 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
}

.room-content {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.room-list:first-child {
  width: 50%;
  text-align: left;
}
.room-list:nth-child(2) {
  width: 20%;
  text-align: left;
}
.room-list:nth-child(3) {
  width: 15%;
  text-align: left;
}
.room-list:last-child {
  width: 15%;
  text-align: left;
}
.delete {
  color: gold;
}
.post {
  color: grey;
}

// ------------------ //


.category-list {
  background-color: grey;
  padding: 5px 10px 5px 10px;
  color: #fff;
  border-radius: 10px;
}

// -------room_show------- //

.room-show {
  width: 800px;
  margin: 30px auto;
}

.show-content {
  margin: 20px 0;
}

.room-title {
  margin-top: 15px;
}

.comment-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chat-time {
  text-align: right;
  font-size: 10px;
}

.comment-user {
  width: 15%;
}

.comment {
  width: 70%;
  display: inline-block;
  position: relative;
  margin: 0 0 0 20px;
  padding: 10px;
  border-radius: 12px;
  background: #edf1ee;
}

.comment:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.comment-side {
  width: 15%;
  margin-left: 15px;
  display: flex;
  align-items: flex-end;

}

.comment-side a {
  margin-right: 15px;
}

.comment-side a i {
  font-size: 18px;
}

.fa-crown {
  font-size: 18px;
}

.comment-side form {
  display: inline-block;
}

.message-content {
  width: 70%;
  margin: 0 auto;
}

.message {
  width: 100%;
}

.best-answer {
  color: gold;
}


.search-form {
  position:relative;
  max-width:300px;
  margin-bottom:20px;
}

.text-area {
  height:50px;
  padding:0 10px;
  position:absolute;
  left:0;
  top:0;
  border-radius:2px;
  outline:0;
  border: 1px solid grey;
  border-radius: 10px;
  background:#eee;
}

.button {
  height:50px;
  position:absolute;
  left:165px;/*アイコン左右の位置調整*/
  top:0;
  background:none;
  color:#666;
  border:none;
  font-size:20px;/*アイコンサイズ*/
}

::-webkit-search-cancel-button {
   -webkit-appearance: none;
}


