  <h5>カテゴリ一覧</h5>
  <ul>
    <% categories.each do |category| %>
    <li>
      <%= link_to category_path(category) do %>
        <%= category.name %> （<%= category.rooms.count %>）
      <% end %>
    </li>
    <% end %>
  </ul>
