  <h5>カテゴリ一覧</h5>
  <div class="category-content">
    <% categories.each do |category| %>
    <div class="category-list">
      <%= link_to category_path(category) do %>
        <%= category.name %> （<%= category.rooms.count %>）
      <% end %>
    </div>
    <% end %>
  </div>
