<h1>通報一覧</h1>

<% @notices.each do |notice| %>
  <%= notice.title %>
  <%= notice.body %>
  <%= notice.get_notice_image %>
  <%= link_to notice.end_user.name, edit_admin_end_user_path(notice.end_user) %>
<% end %>